<%= form_tag(ideas_path, :method => "get", id: "search-form", class: "form-horizontal") do %>
    <div class="form-group form-group-sm">
      <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-success pull-right" %>
    </div>
<% end %>
