<%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search By Title", class: "form-control" %>
          <span class="input-group-btn">

        <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
      </span>
        </div><!-- /input-group -->
<% end %>
</div>