<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h2>Congratulation <%= @User.name %> is interested in your Idea!</h2>
<p>
  Visit <%= @User.name %>'s profile by clicking here. See their experiences
  and check out what they have done. If you would like to pitch your idea to
  them, click here or click the Pitch Now button on your dashboard.
</p>
<p>
    Thanks for using Like Minds.
</p>

</body>
</html>