<section id="intro" class="intro-section home-backdrop">

  <div class="col-xs-12">
    <h1 class="home-logo">Welcome to Like Minds</h1>
  </div>
  <div class="col-sm-12">
    <input type="button" href="#steps" id="stepsBtn" class="btn-clear page-scroll" value="Start your Idea Today"/>
  </div>
</section>

<section id="steps" class="steps-section">
  <h1 class="col-xs-12 started-logo">How to Get Started</h1>

  <div class="col-xs-6">
    First Sign Up for an Account
    <div class="clearfix"></div>
    <input type="button" id="signupBtn" href="#signupDivEnd" class="btn-clear page-scroll" value="Sign Up"/>
  </div>
  <div class="col-xs-4">
    Than Post your idea
    <div class="clearfix"></div>
    <p>
      At Like Minds you can post your idea and have a partner working with you the same day. Browse
      hundreds of ideas or start one yourself. Once you have found your partner you can contact each other
      on today's hottest social networking apps.
    </p>
  </div>
</section>
<section id="signupDiv" class="signup-section">
  <div class="col-xs-12">
    <h2>Sign Up</h2>
    <%= render "devise/registrations/form" %>
  </div>
  <hr/>
</section>
<div id="signupDivEnd" class="signup-section"></div>
<section id="about" class="about-section">
  About Us
</section>