// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #DADADA;
}

// Scroll Spy nav easing
@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}

.steps-section {
  height:400px;
  padding-top:50px;
  text-align: center;
  background: #CCCCCC;
  color: #999999;
}

.signup-section {
  height:100%;
  width: 97%;
  padding-top: 20px;
  margin-left: 15px;
  text-align: center;
  background: #eee;
  border: 1px;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.about-section {
  height: 100%;
  padding-top: 20px;
  text-align: center;
  background: #3366FF;
}

#signupDivEnd {
  background: #DADADA;
}

.padding-top-15 {
  padding:15px 0 0 0;
}

.padding-top-bottom-50 {
  margin: 75px 0 0 0;
}


.signed-in-padding {
  padding:15px 0 0 0;
  margin-right: 50px;
}

.padding-top-bottom {
  padding: 15px 0 0 15px;
}

.padding-bottom {
  padding-bottom:5px;
}

.padding-bottom-7 {
  padding-bottom: 24px;
}

.padding-bottom {
  padding-bottom:20px;
}

.search-row-fill {
  width:100%;
  height: 25%;
  background-color:#CCCCCC;
}

.max-width {
  width:20%;
}

.btn-clear {
  @extend .btn;
  border: 1px solid black;
  background-color: transparent;
  font-color: black;
  border-radius: 15px;
}

.extend-btn {
  width: 35%;
  height: 68px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  border: 2px solid lightseagreen;
}

.home-backdrop {
  background: image_url('home-backdrop.jpg') no-repeat center center;
  height: 800px;
//  margin-top: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.home-logo {
  font-color: gray;
  margin: 0 0 150px 0;
}

.started-logo {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 25px;
  color: white;
}

.started-text {
  padding-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  /* width and height can be anything, as long as they're equal */
}

.steps-number {
  font-family: 'Arvo', serif;
  font-size: 50px;
  color: white;
}

.score-text {
  margin: auto;
  position: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
//  line-height: 1em;
//  font-size: 1em;
}

.registration-form-backdrop {
  @extend .container-fluid;
//  background-color: rgba(255, 255, 255, 0.5);
//  filter:alpha(opacity=20);
}

.registration-form {
  @extend .col-xs-12;
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-top-10 {
  padding-top: 5px;
}

.col-xs-6-centered {
  padding-top: 25px;
  position: absolute;
  left: 45%;
  right: 0%;
}

.col-md-6-centered {
  padding-top: 150px;
  position: absolute;
  left:  0%;
  right: 0%;
}

.col-8-form {
  @extend .col-xs-8;
  background:#666666;
}

.row-margin {
  margin-top: 90px;
}