// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padding-top-15 {
  padding:15px 0 0 0;
}

.signed-in-padding {
  padding:10px 0 0 0;
}

.padding-top-bottom {
  padding: 15px 0 0 15px;
}

.padding-bottom {
  padding-bottom:5px;
}
